body {
    background-color: #121212;
}

.first_font {
    font-family: "Manrope", sans-serif;
}

.second_font {
    font-family: "Noto Serif", serif;
}

.first_color {
    color: #D4AF37;
}

.second_color {
    color: #C5A028;
}

.third_color {
    color: #F8F8F8;
}

header img {
    width: 24px;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
}

nav {
    color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: rgba(18, 18, 18, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav h2 {
    font-size: 20px;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: 48px;
}

.nav_links a {
    color: #F8F8F8;
    font-family: "Noto Serif", serif;
}

.nav_links a:hover {
    color: #C5A028;
}

.nav_links_1 {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: 48px;

}

.title_links {
    gap: 12px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

.section_1_ {
    width: 92%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.section_1_ img {
    width: 100%;
    height: 100%;
    z-index: -1;
    zoom: 10%;
    filter: brightness(0.2);
    object-fit: cover;
    position: absolute;
}

.section_1_ h1 {
    color: #D4AF37;
    font-family: "Noto Serif", sans-serif;
    font-size: 100px;
    margin-left: 36px;
    margin-top: 100px;
}

.section_1_ p {
    color: #ecf0f1;
    font-family: "Manrope", sans-serif;
    margin-left: 36px;
    font-size: 20px;
    margin-top: -40px;
}

.section_1_ div {
    position: relative;
    z-index: 1;
    width: 60%;
    height: 80%;
}

.section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    gap: 12px;
    margin-bottom: 100px;
}

.section_2_card {
    width: 320px;
    height: 520px;
    display: flex;
    flex-direction: column;
    border-bottom: #1b1a1a solid 1px;
    margin-bottom: 100px;

}

.section_2_card:hover {
    border-bottom: #C5A028 solid 1px;
    color: #D4AF37;
}

.section_2_card_section {
    width: 320px;
    height: 320px;
    background-color: #1b1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_2_card_section_img {
    width: 260px;
    height: 260px;
    background-color: #1b1a1a;
}

.section_2_card_section_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_2_card_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.section_2_card_info h2 {
    width: 280px;
    height: 30px;
}

.section_2_card:hover .section_2_card_info h2 {
    color: #C5A028;
}

.section_2_card_info p {
    width: 280px;
    height: 30px;
}

.section_2_card_info_price {
    display: flex;
    justify-content: space-between;
}

.primary_button {
    display: flex;
    cursor: pointer;
    color: #ecf0f1;
    font-size: 16px;
    padding: 16px 24px;
    text-decoration: none;
}

.primary_button:hover {
    color: #C5A028;
}

.primary_button:active {
    position: relative;
    top: 1px;
}