body {
    background-color: #121212;
}

.first_font {
    font-family: "Manrope", sans-serif;
}

.second_font {
    font-family: "Noto Serif", serif;
}

.first_color {
    color: #D4AF37;
}

.second_color {
    color: #C5A028;
}

.third_color {
    color: #F8F8F8;
}

header img {
    width: 24px;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
}

nav {
    color: #ecf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #12121280;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #00000033;
}

nav h2 {
    font-size: 20px;
}

.nav_links {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: 48px;
}

.nav_links a {
    color: #F8F8F8;
    font-family: "Noto Serif", serif;
}

.nav_links a:hover {
    color: #C5A028;
}

.nav_links_1 {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: 48px;

}

.title_links {
    gap: 12px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

html {
    scroll-behavior: smooth;
}

.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #353534cc;
    color: #C5A028;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
}

.back-to-top span {
    font-size: 24px;
}

.back-to-top:hover {
    transform: translateY(-5px);
}

.footer_links {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: 48px;
}

.footer_links_a {
    color: #878787;
    font-family: "Noto Serif", serif;
}

.footer_links_a:hover {
    color: #C5A028;
}

.footer_links img {
    width: 20px;
}

.footer_links img path:hover {
    stroke: #C5A028 !important;
    fill: #C5A028 !important;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0e0e0e;
    height: 400px;
}

footer h3 {
    font-size: 30px;
    color: #C5A028;
    font-family: "Noto Serif", serif;
}

footer p {
    color: #878787;
    font-family: "Manrope", sans-serif;
}